*.log
**/build/
**/dist/
**/newman/
**/public/
**/coverage/
**/node_modules/
.#*
__pycache__/
.envrc
.idea
.vscode/settings.json
./sign/
*.key
.DS_Store
junit.xml
release_notes
/ecs-*.yml
.venv
.aws-sam
lib/
*.tsbuildinfo
packages/create_release_notes/app/requirements.txt
packages/mark_jira_release/app/requirements.txt
packages/release_cut/app/requirements.txt
.coverage
coverage.xml
cfn_guard_output/
.trivy_out/
